
ghost/master/profile/ghost.dat
ghost/master/profile/ghost.dat.bak
ghost/master/profile/history.dat
ghost/master/profile/var.txt
shell/master/profile/shell.dat
shell/master/profile/shell.dat.bak
ghost/master/satori_savedata.txt
ghost/master/satori_savebackup.txt
